<div class="container bg-light mt-4 p-3 border rounded-2 shadow-sm  ">
  <div class="alert alert-primary rounded-2">
    <div class="display-6 text-center text-uppercase ">Angular - Redux - NgRx</div>
  </div>
  <div class="alert alert-light text-left rounded-3 shadow-lg ">
    <ng-container>
      <div *ngIf="isSuccess" class="alert alert-success rounded-2 m-3 small">Login Success</div>
      <div *ngIf="isError" class="alert alert-danger rounded-2 m-3 small">Login Failed / Wrong Credentials</div>
    </ng-container>

    <form [formGroup]="userForm" (ngSubmit)="submitForm()">
      <div class="form-group ">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Username : </span>
          <input type="text" [formControl]="usernameFC" class="form-control" id="username-ele"
            placeholder="Enter your email" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <!-- <small class="form-text text-muted">We dont take your data</small> -->
      </div>
      <div class="form-group ">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Password: </span>
          <input type="password" formControlName="passwordFC" class="form-control" id="pwd-ele"
            placeholder="Enter your password" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <!-- <small class="form-text text-muted">We dont take your data</small> -->
      </div>
      <div *ngIf="userForm.invalid && userForm.touched" class="text-danger ">
        All Feilds are required
      </div>
      <button type="submit" class="btn btn-sm btn-primary  mt-2 " [disabled]="userForm.invalid">Login</button>
    </form>


  </div>
</div>